/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary Colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    /* Neutral Colors */
    --dark-grey: hsl(0, 0%, 59%);
    --dark-grey-lite: hsl(0, 0%, 90%);

    /*  Typography - Kumbh Sans (400, 700) */
    --kumbh-sans: 'Kumbh Sans', sans-serif;
}

/*  Small CSS Reset */
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.3;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Tags Section */

body {
    font-family: var(--kumbh-sans);
    background-color: var(--dark-cyan);
}



/* Main Container */
.container {
    height: 100vh;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: left -44rem top -33rem, right -44rem bottom -32rem;
    background-repeat: no-repeat, no-repeat;
}

/* Card Section */
.card {
  background-color: white;
  overflow: auto;
  border-radius: 25px;
  width: 326px;
  height: 374px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Media Queries for desktop version */
@media(min-width:768px) {
  .container {
    background-position: left -15rem top -31.5rem, right -14rem bottom -38rem;
  }
  .card {
    width: 350px;
  }
}


/* Card Top part */
.card__top {
  height: 140px;
  background-image: url(./images/bg-pattern-card.svg);
  background-position: top;
  background-repeat: no-repeat;  
}

.card__photo {
  box-sizing: content-box;
  position: absolute;
  background-image: url(./images/image-victor.jpg);
  background-repeat: no-repeat;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  border: 5px solid white;
  transform: translate(-50%, -100%);
}

/* Card Mid part */
.card__mid {
  height: 146px;
  border-bottom: 1px solid var(--dark-grey-lite);
}

.card__text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 100%);
}

.card__name {
  font-weight: 700;
  font-size: 18px;
  color: var(--very-dark-blue);
  margin: 12px 0px 0px 0px;
}

.card__name span {
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.card__location {
  margin: 8px 0px;
  font-weight: 400;
  font-size: 14px;
  color: var(--dark-grey);
}


/* Card Bottem part */
.card__down {
  display: flex;
  height: 86px;
  padding: 20px 15px;
  justify-content: space-around;
}

.card__count {
  font-size: 18px;
  font-weight: 700;
}

.card__description {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 2px;
  color: var(--dark-grey);
}



/* Styling for Attribution in the Footer section */

.attribution { 
  font-size: 11px; 
  text-align: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -0%);
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}